* {
	transition: background-color 100ms;
}

#eleboi {
	@extend #curvy;
	width: 400px;
	filter: brightness(150%);
	border: black 5px solid;
	transition: filter 0.1s;

	&:hover {
		filter: brightness(260%) contrast(250%);
	}

	&:active {
		filter: brightness(100%) contrast(250%);
	}
}

#ele {
	font-size: 2em;
	font-weight: 900;
	margin-top: 5px;
}

#contentright {
	position: absolute;
	top: 16px;
	right: 20px;
}

#counter {
	@extend #ele;
	margin-bottom: 2px;
	text-align: center;
	font-weight: normal;
	background-image: linear-gradient(#88f, #66d);
	padding: 4px;
	border: black 4px solid;
}

img {
	-webkit-user-drag: none;
	user-select: none;
}

:root {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	font-weight: 600;
	background-image: linear-gradient(#00c1fc, #0047fc);
	touch-action: manipulation;
}

::-webkit-scrollbar {
	width: 11px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	transition: background-color 2s;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

::-webkit-scrollbar-thumb:active {
	background-color: #333;
}

#bois {
	font-size: 1.6em;
	margin-bottom: 3px;
}

#smallbois {
	font-size: 1em;
	margin-top: 3px;
}

#content {
	margin-left: 20px;
}

#curvy {
	border-radius: 15px;
}

#credits {
	@extend #curvy;
	font-weight: 600;
	outline: 0;
	margin-top: 30px;
	background-color: #eee;
	border: #222 4px solid;
	padding: 3px 6px;
	font-size: 1.5em;
	font-family: "Nunito";
	cursor: pointer;

	&:hover {
		background-color: #bbb;
	}

	&:active {
		background-color: #999;
	}
}

#upgrades {
	@extend #curvy;
	border: black 5px solid;
	width: 530px;
	height: 400px;
	overflow-y: auto;
	overflow-x: auto;
	margin-top: 55px;
	margin-bottom: -20px;
	text-align: center;
	background-image: linear-gradient(#4d4, #464);

	#upgradelabel {
		padding: 5px;
		margin: 0;
		position: sticky;
		top: 0px;
		background-color: #44d344;
	}

	#poweruplabel {
		@extend #upgradelabel;
		background-color: #fc0324;
	}

	p {
		text-align: center;
		font-weight: 900;
		font-size: 2em;
		margin: 5px;
	}

	.appliance {
		justify-content: center;
		align-items: center;
		padding-right: 20px;
		display: flex;

		.count {
			font-size: 3em;
			display: flex;
			margin-right: auto;
			padding-left: 20px;
		}

		.labels {
			margin-right: auto;
			margin-left: auto;
			display: inline-block;

			.label {
				font-size: 2em;
				font-weight: bold;
			}

			.desc {
				font-size: 1em;
				font-weight: normal;
			}

			.cost {
				&::before {
					content: "Costs ";
					font-weight: normal;
				}

				font-weight: bold;

				&::after {
					content: " Electric Bois";
					font-weight: normal;
				}
			}
		}

		.buy {
			display: inline-block;
			cursor: pointer;
			padding: 10px;
			background-image: linear-gradient(#ee4, #aa2);
			border: #242 5px solid;
			font-size: 2.2em;
			font-weight: bolder;

			&:hover {
				background-image: linear-gradient(#cc4, #882);
			}

			&:active {
				background-image: linear-gradient(#aa4, #552);
			}

			&:focus {
				outline: 0;
			}
		}
	}
}

#powerups {
	@extend #upgrades;
	top: 460px;
	background-image: linear-gradient(#d66, #633);
}

#prup {
	@extend #upgrades;
	left: 28px;
	top: 560px;
	width: 393px;
	height: 180px;
	background-image: linear-gradient(#00e0ff, #008da0);
}

#boicontainer {
	p {
		margin: 5px;
	}

	#cps {
		&::after {
			content: " Appliance Clicks per Second";
			font-weight: normal;
		}

		font-weight: 900;
	}

	#cpc {
		&::after {
			content: " Electric Bois per Click";
			font-weight: normal;
		}

		font-weight: 900;
	}

	#cps2 {
		&::after {
			content: " User Clicks Per Second";
			font-weight: normal;
		}

		font-weight: 900;
	}

	#crit {
		&::after {
			content: " Critical Chance";
			font-weight: normal;
		}

		cursor: help;
		font-weight: 900;
	}

	#boost {
		&::after {
			content: " Appliance Boost Percentage";
			font-weight: normal;
		}

		font-weight: 900;
		cursor: help;
	}

	margin-bottom: 15px;
}

.adminbutton {
	background-color: #eee;
	border: #ddd 2px solid;

	&:hover {
		background-color: #aaa;
		border-color: #888;
	}

	&:active {
		background-color: #888;
		border-color: #555;
	}

	margin: 5px;
	font-size: 20px;
}

#responses {
	font-family: "Courier New", Courier, monospace;
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: #ddd;
	overflow: scroll;
	width: 500px;
	height: 620px;
	border: #777 5px solid;

	p {
		background-color: #bbb;
		border: #999 2px solid;
		margin-top: 2px;
		margin-bottom: 2px;
		padding: 3px;
		font-size: 16px;
		padding-left: 6px;
		text-overflow: ellipsis;
	}

	.self {
		border: #575 2px solid;
		background-color: #6c6;
	}
}

#adminnum {
	@extend #responses;
	width: 250px;
	right: 550px;
	margin-top: 0px;
}

#extender {
	height: 400px;
	width: 1px;
}

#musicbar {
	display: none;
	background-color: #0001;
	padding: 2px;

	button {
		background-color: #eee;
		padding: 5px;
		border: #555 2px solid;
		margin: 3px;
		cursor: pointer;

		&:hover {
			background-color: #ccc;
		}

		&:active {
			background-color: #aaa;
		}
	}

	span {
		margin-left: 2px;
		font-weight: bolder;
	}
}

#prup {
	margin-top: 12px;
	position: relative;
	top: 0;
	left: 0;
	text-align: left;
	padding: 4px;

	.precon {
		width: fit-content;
		font-size: 4px;
		display: inline-block;
		text-align: center;

		.prebut {
			display: inline-block;
			width: 80px;
			height: 80px;
			margin: 4px;
			transition: filter 0.2s;
			cursor: pointer;

			text-align: center;

			&:hover {
				filter: brightness(70%);
			}

			&:active {
				filter: brightness(50%);
			}
		}
	}

	.gp {
		font-size: 10px;
	}
}

b,
strong {
	font-weight: 800;
}